NODE_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=3306
DB_NAME=trading_service
DB_USER=trader
DB_PASSWORD=changeme
DB_ROOT_PASSWORD=changeme

REDIS_HOST=localhost
REDIS_PORT=6379

MINDSDB_HOST=localhost
MINDSDB_PORT=47335
MINDSDB_USER=mindsdb
MINDSDB_PASSWORD=

INDODAX_PAIR=BTCIDR
INDODAX_TIMEFRAME_MIN=60
